		<!-- Primary contains flexible content layout -->
		<section id="primary">
			
			<header id="header">
				<a href="#" id="branding"></a>
				<nav id="user-nav">
					<ul>
						<li><a href="#">Item One</a></li>
					</ul>
				</nav>
			</header>
			
			<section class="kit-wrapper-flex demo-columns" id="content">
		        
		        <!-- Column – Default full-width at top desktop size -->
		        <div class="kit-column">
			        <p>Full-Width Column</p>
		        </div>
		        
		        <!-- X-Large Column – Two-thirds-width at top desktop size -->
		        <div class="kit-column-xlarge">
			        <p>X-Large Column</p>
		        </div>
		        <div class="kit-column-medium">
		        </div>
		        
		        <!-- Large Column – Two columns at top desktop size -->
		        <div class="kit-column-large">
			        <p>Large Column</p>
		        </div>
		        <div class="kit-column-large">
		        </div>
		        
		        <!-- Medium Column – Three columns at top desktop size -->
		        <div class="kit-column-medium">
			        <p>Medium Column</p>
		        </div>
		        <div class="kit-column-medium">
		        </div>
		        <div class="kit-column-medium">
		        </div>
		        
		        <!-- Small Column – Four columns at top desktop size -->
		        <div class="kit-column-small">
			        <p>Small Column</p>
		        </div>
		        <div class="kit-column-small">
		        </div>
		        <div class="kit-column-small">
		        </div>
		        <div class="kit-column-small">
		        </div>
	
		        <!-- X-Small Column – Two columns at top desktop size -->
		        <div class="kit-column-xsmall">
			        <p>X-Small Column</p>
		        </div>
		        <div class="kit-column-xsmall">
		        </div>
		        <div class="kit-column-xsmall">
		        </div>
		        <div class="kit-column-xsmall">
		        </div>
		        <div class="kit-column-xsmall">
		        </div>
		        <div class="kit-column-xsmall">
		        </div>
		        
		        <hr class="kit-spacer-100">
		        
	        </section><!-- #content -->
	        
		</section><!-- #primary -->
